<%- include('partials/header') -%>

<h1>Compose</h1>
<form method="POST" action="/compose">
  <div class="form-group">
    <label for="Title">Title</label>
    <input type="text" name="postTitle" class="form-control" aria-describedby="emailHelp" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="Content">Content</label>
    <textarea name="postBody" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Content"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('partials/footer') -%>
